* {
    box-sizing: border-box;
}

html body {
    margin: 0;
    padding: 0;
}

div {
    margin: 0;
    padding: 0;
}

.content {
    background-image: url("https://web.archive.org/web/20140301004302im_/http://images.apple.com/v/home/as/images/your_verse_hero_2x.jpg");
    background-position: 50% 75%;
    background-repeat: no-repeat;
}

.main-box {
    width: 100%;
    height: 538px;
    margin-top: -16px;
}