* {
    box-sizing: border-box;
}

.content {
    background-image: url("https://web.archive.org/web/20140301004302im_/http://images.apple.com/v/home/as/images/your_verse_hero_2x.jpg");
}

.main-box {
    width: 100%;
    height: 538px;
}