* {
    box-sizing: border-box;
}

html body {
    margin: 0;
    padding: 0;
}

div {
    margin: 0;
    padding: 0;
}

.content {
    background-image: url("https://web.archive.org/web/20140301004302im_/http://images.apple.com/v/home/as/images/your_verse_hero_2x.jpg");
    background-position: 50% 75%;
    background-repeat: no-repeat;
}

.main-box {
    width: 100%;
    height: 538px;
    margin-top: -16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* NAVIGATION MENU */

.menu-bar {
    margin-top: 60px;
    width: 980px;
    height: 36px;
    display: flex;
    align-items: center;
    background-color: grey;
    background-image: linear-gradient(to top, rgb(156, 154, 154), rgb(87, 87, 87), rgb(124, 124, 124), rgb(155, 153, 153));
    border-radius: 5px;
    margin-bottom: 20px;
}

.menu-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: seashell;
    list-style-type: none;
    width: 980px;
    height: 36px;
    padding: 0;
    font-size: 15px;
    border-radius: 10px;
    margin: 0;
}

.apple-logo img {
    height: 20px;
    width: auto;
}

.menu-items a {
    cursor: pointer;
    color: seashell;
    text-decoration: none;
}

.search-nav {
    width: 95px;
    height: 19px;
    border: 0.5px solid black;
    background: none;
    border-radius: 10px;
    padding: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-items li {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border: 0.5px ridge grey;
}

.apple-logo {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.nav-end {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

input {
    background: none;
    width: 60px;
    border: none;
}

.search-nav img {
    width: auto;
    height: 12px;
    background: none;
}

.image-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* MIDDLE TEXT */

.titles {
    color: seashell;
    font-weight: lighter;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    font-size: 24px;
    line-height: 36px;
    font-weight: bold;
    font-style: normal;
    text-align: center;
}

h2 {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 27px;
    text-align: center;
    font-weight: bold;
}

h3 {
    font-size: 12px;
    text-align: center;
}

/* IMAGE GRID */

.image-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.image-grid img {
    height: 200px;
    width: 316.25px;
}

/* FOOTER */

footer {
    height: 90px;
    width: 100%;
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: 1fr 480px 480px 1fr;
    grid-template-rows: 1fr 1fr;
    font-size: 10px;
    padding-top: 20px;
}

.footer li {
    list-style-type: none;
}

.footer-one {
    grid-column: 2 / 3;
    height: 45px;
    margin: 0;
}

.footer-two {
    grid-column: 3 / 4;
    height: 45px;
    margin: 0;
    Display: flex;
    justify-content: space-between;
}

.footer-three {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    height: 45px;
    margin: 0;
}

.footer-two img {
    width: 16px;
    height: auto;
}